<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CarrierPicker</key>
	<array>
		<dict>
			<key>Carrier</key>
			<string>TalkTalk</string>
			<key>Hex</key>
			<string>840075</string>
		</dict>
		<dict>
			<key>Carrier</key>
			<string>giffgaff</string>
			<key>Hex</key>
			<string>000000</string>
		</dict>
		<dict>
			<key>Carrier</key>
			<string>Virgin Media</string>
			<key>Hex</key>
			<string>DE0C00</string>
		</dict>
		<dict>
			<key>Carrier</key>
			<string>3</string>
			<key>Hex</key>
			<string>2C0F49</string>
		</dict>
		<dict>
			<key>Carrier</key>
			<string>EE</string>
			<key>Hex</key>
			<string>599C9C</string>
		</dict>
		<dict>
			<key>Carrier</key>
			<string>O2</string>
			<key>Hex</key>
			<string>161F7E</string>
		</dict>
		<dict>
			<key>Carrier</key>
			<string>Vodafone</string>
			<key>Hex</key>
			<string>e6oooo</string>
		</dict>
		<dict>
			<key>Carrier</key>
			<string>Orange</string>
			<key>Hex</key>
			<string>ffa500</string>
		</dict>
		<dict>
			<key>Carrier</key>
			<string>T-Mobile</string>
			<key>Hex</key>
			<string>C41471</string>
		</dict>
		<dict>
			<key>Carrier</key>
			<string>Others</string>
			<key>Hex</key>
			<string>4cd2ff</string>
		</dict>
	</array>
	<key>CarrierColorPicker</key>
	<array>
		<dict>
			<key>Color</key>
			<string>000000</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>cccccc</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>999999</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>4c4c4c</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>ffb2b2</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>ff6666</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>ff0000</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>b20000</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>660000</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>ffdcb2</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>ffae4c</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>ff8c00</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>cc7000</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>663800</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>ffffb2</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>e5e500</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>ffff00</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>b2b200</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>4c4c00</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>c1f0c1</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>6fdc6f</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>32cd32</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>238f23</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>0f3d0f</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>b2ebff</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>4cd2ff</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>00bfff</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>0085b2</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>00394c</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>f5d1ff</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>e993ff</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>e066ff</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>9c47b2</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>431e4c</string>
		</dict>
	</array>
	<key>Gradient</key>
	<array>
		<dict>
			<key>colors</key>
			<array>
				<string>FF0000</string>
				<string>FFA500</string>
			</array>
		</dict>
		<dict>
			<key>colors</key>
			<array>
				<string>FFA500</string>
				<string>FFFF00</string>
			</array>
		</dict>
		<dict>
			<key>colors</key>
			<array>
				<string>FFFF00</string>
				<string>008000</string>
			</array>
		</dict>
		<dict>
			<key>colors</key>
			<array>
				<string>008000</string>
				<string>0000FF</string>
			</array>
		</dict>
		<dict>
			<key>colors</key>
			<array>
				<string>0000FF</string>
				<string>FFA500</string>
			</array>
		</dict>
		<dict>
			<key>colors</key>
			<array>
				<string>FFA500</string>
				<string>FF0000</string>
			</array>
		</dict>
		<dict>
			<key>colors</key>
			<array>
				<string>FF0000</string>
				<string>EE82EE</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
